body {
  margin: 0;
  background: #0a5;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background: #083;
  border-bottom: 3px solid #fff;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.home-btn {
  background: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 6px 14px;
  cursor: pointer;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 70px);
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.editor-container {
  border: 3px solid #fff;
  background: #efe;
  padding: 12px;
}

.editor-header {
  font-weight: 600;
  margin-bottom: 8px;
  color: #063;
}

.editor {
  display: flex;
  height: 300px;
  border: 2px solid #ccc;
  background: #fff;
}

.line-numbers {
  background: #eee;
  padding: 8px;
  color: #777;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.editor-input {
  flex: 1;
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
}
.editor-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

.level-text {
  font-size: 16px;
  font-weight: 700;
  color: #063;
}

.submit-btn {
  padding: 8px 26px;
  border-radius: 20px;
  border: none;
  background: #fc0;
  cursor: pointer;
  font-weight: 600;
}

.hints {
  border-top: 3px solid #fff;
  padding-top: 10px;
  color: #fff;
}

.hints h3 {
  margin: 0 0 8px;
  font-weight: 500;
}

.right-section {
  border: 3px solid #fff;
  background: #efe;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.levels-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 6px 16px;
  background: #ddd;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.levels-text {
  font-weight: 600;
}
.algn-level{
  margin-right: auto;
}

.arrows{
  height: 20px;
  width: 20px;
}
.output-box {
  flex: 1;
  border: 2px dashed #063;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  color: #063;
}
